<h1><%= @movie.title %></h1>

<ul>
  <% @movie.formats.each do |format| %>
    <li><%= format.format %></li>
  <% end %>
</ul>

<ul>
  <% @movie.digital_formats.each do |digital_format| %>
    <li><%= digital_format.name %></li>
  <% end %>
</ul>
