<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Format</th>
        <th>Digital Format</th>
        <th>Definition</th>
        <th>App</th>
        <th>Player</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><ul>
        <% movie.formats.each do |format| %>
          <li><%= format.format %></li>
        <% end %> 
      </ul></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to "Edit", edit_movie_path(movie) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>