<div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Format</th>
        <th></th>
      </tr>
    </thead>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><% movie.formats.each do |format| %>
          <%= format.format %> /
        <% end %></td>
        <% if current_user %>
          <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <% end %>
    </tr>
    <% end %>
  </table>
</div>