<div>
  <% @movies.each do |movie| %>
  <table class="table table-hover">
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><% movie.formats.each do |format| %>
          <%= format.format %> /
        <% end %></td>
        <% if current_user %>
          <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <% end %>
    </tr>
    <% end %>
  </table>
</div>