<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Format</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td>
          <% movie.formats.each do |format| %>
            <%= format.format %>
          <% end %>  
      </td>
      <td><%= link_to "Edit", edit_movie_path(movie) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>